<div class="card text-center">
  <div class="card-header">
    <h5 class="card-title">Special title treatment</h5>
    <nav>
      <button type="button" class="center btn btn-danger"><a href="users/sign_up" class="text-warning">Inscris toi</a></button>
    </nav>
    <form>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
