<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <div class="aligned">
        <button type="button" class="btn btn-danger"><a href="users/sign_in" class="text-warning">Connexion</a></button>
        <button type="button" class="btn btn-danger"><%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: 'text-warning' %></a></button>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
