<div class="center large-margin-top">
  <h1>
    <b>Best Tricks c'est:</b>
  </h1>
</div>

<div class="aligned margin-top">
  <div class="aligned_children">
    <div class="vertical">
        <h3 class="margin-left">
          Des défis géolocalisés
        </h3>
        <div class="margin-left-text presentation_text">
          <p>
            Filme toi lançant des figures de fous sur les meilleurs spots de ta ville. Inscris l’adresse du spot que tu as explosé.
          </p>
        </div>
    </div>
  </div>

  <div class="aligned_children">
    <div class="vertical">
        <h3 class="margin-auto">
          Un classement
        </h3>
        <div class="margin-right-text presentation_text">
          <p>
            Fais augmenter ton score en gagnant des défis et en votant pour les meilleures vidéos des défis en cours. Vois monter ta place dans le classement.
          </p>
        </div>
    </div>
  </div>

  <div class="aligned_children">
    <div class="vertical">
        <h3 class="margin-right">
          Des sessions géolocalisés
        </h3>
        <div class="margin-right-text presentation_text">
          <p>
            Programme tes prochaines sessions en spécifiant le lieu, la date et l’heure. Invite tes amis à participer.
          </p>
        </div>
    </div>
  </div>
</div>

<div class="aligned large-margin-top">
  <div class="aligned_children">
    <div class="vertical">
        <h1 class="margin-left-text-profile">
          Crée ton profil
        </h1>
        <p class="img1">
        </p>
    </div>
  </div>

  <div class="aligned_children">
    <div class="vertical">
        <h1 class="center">
          Clique sur une balise de défi
        </h1>
        <p class="img2">
        </p>
    </div>
  </div>
</div>


<div class="aligned large-margin-top">
  <div class="aligned_children">
    <div class="vertical">
        <h1 class="center">
          Consulte les défis en cours
        </h1>
        <p class="img3">
        </p>
    </div>
  </div>

  <div class="aligned_children">
    <div class="vertical">
        <h1 class="center">
          Programme tes sessions
        </h1>
        <p class="img4">
    </div>
    </div>
</div>
